#zhong{background-color: #eeeeee;}
#sc{width: 1200px;margin: 0px auto;}
.pp{background-color: white;height: 30px;}
.qq{background-color: #f6f6f6;height: 30px;}
.pp td,.qq td{width: 200px;}
#h1{background-color: #0f6db4;color: white;line-height: 50px;font-size: 20px;font-weight: bold;padding-left: 10px;}
#h2{background-color: #032f4f;color: white;line-height: 35px;padding-left: 10px;}
.h3{background-color: #356da0;color: white;line-height: 25px;padding-left: 10px;}
#sc img{padding-top: 5px;}
