#zz{width:1000px;margin: 0px auto;}
#zz1{width: 660px;background-color: white;}
#zz1 h2{background-color: #1e518c;line-height: 40px;color: white;}
#zz1 a{color: black;}
.dtt,.ddd{float: left;}
.dtt p{color: gray;}
.z1{height: 180px;border-top: gray solid 1px;margin-top: 10px;padding: 0px 10px 0px 20px;padding-top: 10px;}
.z1 h3{line-height: 30px;}
.ddd{width: 470px;margin: 3px 10px 15px 10px;}
.ddd1{margin-left: 420px;margin-top: 36px;color: gray;font-size: 13px;}
.dtt{font-size: 14px;}
.dll{margin: 5px 0px 5px 0px;}
#z2{background-color: #e6e6e6;}
#z2 p{width: 100px;margin: 0px auto;line-height: 40px;}
#zz1,.zz2{float: left;margin: 15px auto 20px 0px;}
.zz2{margin-left: 25px;}
.t1{margin-left: 25px;margin-bottom: 20px;}
